
.body{
  position: relative;
}
.cart{
  
  display: flex;
  flex-direction: column;
  justify-content: right;
  position: absolute;
  right: 30px;
}
.cart>a>button,.cart>div {
  position: sticky;
  top: 1px;
}
.cart>div{
  text-align: center;

  position: sticky;
}

button{
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  margin-left: 2px;
}