
.body{
  position: inherit;
  height: 1000px;
}
.cart{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  right: 30px;


}

.cart>div{
  text-align: center;

  position: sticky;
}

button{
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;margin-left: 2px;
}