nav{
  display: flex;
  justify-content: space-around;
  height: 10vh;
  align-items: center;
  color: white;
  background-color: rgb(40, 47, 49);
  position: fixed;
  width: 100vw;
  margin-bottom: 10vh;
  z-index: 100;
}

a{
  margin-right: 10px;
  color: white;
  text-decoration: none;
}